extends layout

block content
  if !isAuthenticated
    h1 Bienvenido a CodeNova
    p Selecciona el acceso correspondiente para continuar.
    ul
      li
        a(href="/login") Ingresar al panel del comercio
      li
        a(href="/platform/login") Ingresar al panel de plataforma
  else
    h1 Panel Operativo
    h2 Operacion comercial
    ul
      li Comercios: #{counts.comercios}
      li Tiendas: #{counts.tiendas}
      li Usuarios: #{counts.usuarios}
      li Transacciones: #{counts.transacciones}
      li Pagos: #{counts.pagos}
      li Logisticas: #{counts.logisticas}

    h2 Operaciones
    ul
      li
        a(href="/tiendas") Ver tiendas
      li
        a(href="/usuarios") Ver usuarios
      li
        a(href="/logisticas") Ver logisticas

    h2 Reportes operativos
    ul
      li
        a(href="/reportes/conciliacion") Conciliacion
      li
        a(href="/reportes/hot-sale") Hot Sale

    if isPlatformAdmin
      h2 Gestion de plataforma | CodeNova
      ul
        li Suscripciones: #{counts.suscripciones}
        li
          a(href="/comercios") Administrar comercios
        li
          a(href="/cuentas-comercio") Administrar cuentas de comercio
        li
          a(href="/suscripciones") Administrar suscripciones
        li
          a(href="/reportes/facturacion") Facturacion
