extends ../layout

block content
  h1 Detalle de usuario
  p
    strong Comercio ID:
    |  #{item.comercioId}
  p
    strong Tienda ID:
    |  #{item.tiendaId}
  p
    strong Nombre:
    |  #{item.nombre}
  p
    strong Email:
    |  #{item.email}
  p
    strong Activo:
    |  #{item.activo ? "Si" : "No"}
  p
    a(href=`/usuarios/${item._id}/edit`) Editar
    |  
    a(href="/usuarios") Volver al listado
