extends ../layout

block content
  h1 Comercios
  a(href="/comercios/new") Nuevo comercio
  if !items.length
    p No hay comercios cargados.
  else
    table
      thead
        tr
          th Nombre
          th CUIT
          th Email
          th Activo
          th Acciones
      tbody
        each item in items
          tr
            td= item.nombre
            td= item.cuit
            td= item.email
            td= item.activo ? "Si" : "No"
            td
              a(href=`/comercios/${item._id}`) Ver
              |  
              a(href=`/comercios/${item._id}/edit`) Editar
              |  
              form(method="post" action=`/comercios/${item._id}/delete` style="display:inline")
                button(type="submit") Eliminar
