extends ../layout

block content
  .page-header
    h1 Detalle de suscripción
    .actions
      a.btn.btn-secondary(href=`/suscripciones/${item._id}/edit`) Editar
      a.btn.btn-secondary(href="/suscripciones") ← Listado
  .card
    ul.detail-list
      li
        span.detail-label Comercio ID
        span= item.comercioId
      li
        span.detail-label Plan
        span= item.planNombre
      li
        span.detail-label Cuota mensual
        span= `${item.cuotaMensual} ${item.moneda}`
      li
        span.detail-label Comisión
        span= `${item.comisionPorcentaje}%`
      li
        span.detail-label Estado
        span.badge.badge-blue= item.estado
      li
        span.detail-label Inicio
        span= item.fechaInicio
      li
        span.detail-label Renovación
        span= item.fechaRenovacion
