extends ../layout

block content
  h1 Detalle de cuenta de comercio
  .card
    ul.detail-list
      li
        span.detail-label Email
        span= item.email
      li
        span.detail-label Rol
        span= item.role
      li
        span.detail-label Comercio
        span= item.comercioNombre
      li
        span.detail-label CUIT
        span= item.comercioCuit
      li
        span.detail-label Tienda
        span= item.tiendaNombre || "-"
      li
        span.detail-label Activa
        span= item.activo ? "Si" : "No"
      li
        span.detail-label Ultimo login
        span= item.lastLoginAt || "-"
    .actions
      a.btn.btn-secondary(href=`/cuentas-comercio/${item._id}/edit`) Editar
      a.btn.btn-secondary(href="/cuentas-comercio") Volver al listado
